<header class="bg-gray-800 shadow-md py-4 px-2">
    <div class="container mx-auto flex items-center justify-between">
        <a href="/">
            <div class="flex items-center">
                <img src="/logo-delifast.png" alt="Delifast logo" class="w-24">
                <h1 class="text-3xl font-bold ml-4 text-white">Delifast</h1>
            </div>
        </a>
        <div class="flex items-center">
            <form action="/search" method="GET">
                <input type="text" name="query" placeholder="Search" class="p-2 rounded-l-lg border border-gray-300">
                <button class="bg-blue-500 p-2 rounded-r-lg text-white" type="submit" id="buttonSearch">
                    <i class="fas fa-search"></i>
                </button>
            </form>
        </div>
    </div>
</header>

<script>
</script>