<style>
    .hover-heart:hover .far {
        display: none;
    }
    .hover-heart:hover .fas {
        display: inline;
    }
    .hover-heart .fas {
        display: none;
    }
</style>

<div class="hover-heart cursor-pointer" data-recipe-id="<%= recipe.id %>" id="recipe-<%= recipe.id %>">
    <i class="far fa-heart text-3xl text-red-500"></i>
    <i class="fas fa-heart text-3xl text-red-500"></i>
</div>

