<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User Profile</title>
</head>
<body>
    <h1 style="text-align: center;">User Profile</h1>

    <!-- Bagian Profil -->
    <div style="text-align: center;">
        <!-- Gunakan path relatif dari root domain untuk mengakses gambar di folder public -->
        <img src="/userimage.jpg" alt="User Profile Picture" style="width: 150px; height: 150px; border-radius: 50%;">
        <div>
            <h2>Nama Pengguna</h2>
            <p>Email: example@example.com</p>
            <!-- Dan informasi profil lainnya -->
        </div>
    </div>

    <!-- Bagian Konten -->
    <div>
        <!-- Menu yang Disimpan oleh Pengguna -->
        <div>
            <h2>Menu Tersimpan</h2>
            <p>Tidak ada menu yang disimpan saat ini.</p>
        </div>

        <!-- Menu yang Disukai oleh Pengguna -->
        <div>
            <h2>Menu Disukai</h2>
            <p>Tidak ada menu yang disukai saat ini.</p>
        </div>

        <!-- Menu yang Dibuat oleh Pengguna -->
        <div>
            <h2>Menu Dibuat</h2>
            <p>Tidak ada menu yang dibuat saat ini.</p>
        </div>

        <div>
            
        </div>
    </div>
</body>
</html>
